In [1]:
import pandas as pd
import altair as alt

In [2]:
!ls

Tulare Ag.ipynb                    data
Tulare ag production 2010-2020.csv docs

In [3]:
df = pd.read_csv("Tulare ag production 2010-2020.csv")
pd.set_option('display.max_columns', None)
df.head(20)

,Crop,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018,yr2019,yr2020
0,Alfalfa,"803,000","821,000","1,117,000","840,000","1,104,000","1,669,000","1,128,000","967,000","980,000","870,000","759,000"
1,Barley,952,"1,080","10,100","16,800","2,440","15,300","12,200","9,830","11,100","6,120","5,920"
2,Beans,"11,100","5,190","15,400","13,400","14,500","13,100","14,500","13,400","6,840","4,500","3,750"
3,Corns,"84,100","44,400","76,800","65,200","4,920","31,400","26,200","19,000","8,560","8,260","4,800"
4,Cottons,"16,373","18,615","15,327","12,671","7,903","7,076",9993,"12,345","10,276",10668,5770
5,Wheat,"171,000","88,100","172,000","61,300","19,000","130,000","55,700","47,600","54,300","38,400","38,700"
6,Almonds,"28,400","34,700","34,800","40,800","48,700","43,000","66,400","68,700","67,300","83,700","97,900"
7,Grapes,"537,260","568,970","668,860","913,000","717,700","625,530","628,220","692,500","734,550","702,480","513,070"
8,Grapefruit,"16,600","26,700","24,000","27,700","24,400","38,400","20,000","34,200","31,400","29,000","28,900"
9,Lemons,"55,900","52,300","50,700","83,900","86,500","79,300","93,500","102,000","132,000","184,000","199,000"
10,Nectarines,"111,000","114,000","96,600","135,000","80,800","73,200","78,600","80,900","63,000","87,800","62,200"
11,Oranges,"791,000","798,000","905,000","1,269,000","1,061,000","1,111,000","1,176,000","1,118,000","1,107,000","1,292,000","1,477,000"
12,Peaches,"100,600","92,600","115,600","112,300","97,800","103,500","92,300","139,700","176,800","158,500","105,900"
13,Persimmons,"6,430","4,040","4,230","22,100","5,690","9,730","1,340","5,010","7,800","6,800","4,400"
14,Pistachio Nuts,"29,900","32,600","48,000","54,900","58,100","33,100","77,800","90,700","88,200","87,200","98,500"
15,Plums & Pluots,"71,900","87,700","93,500","104,000","72,100","50,300","81,900","52,200","76,600","65,900","60,800"
16,Pomegranates,"12,000","10,300","33,300","3,540","6,160","36,400","11,200","7,690","14,500","10,400","21,300"
17,Tangerines,"111,000","96,900","92,900","69,000","154,000","203,000","194,000","266,000","339,000","437,000","418,000"
18,Walnuts,"69,100","52,000","58,400","67,900","91,500","67,500","76,900","67,400","98,700","76,400","86,100"

In [4]:
df.yr2020=df.yr2020.str.replace(",", "")

In [5]:
df.yr2019=df.yr2019.str.replace(",", "")

In [6]:
df.yr2018=df.yr2018.str.replace(",", "")

In [7]:
df.yr2017=df.yr2017.str.replace(",", "")

In [8]:
df.yr2016=df.yr2016.str.replace(",", "")

In [9]:
df.yr2015=df.yr2015.str.replace(",", "")

In [10]:
df.yr2014=df.yr2014.str.replace(",", "")

In [11]:
df.yr2013=df.yr2013.str.replace(",", "")

In [12]:
df.yr2012=df.yr2012.str.replace(",", "")

In [13]:
df.yr2011=df.yr2011.str.replace(",", "")

In [14]:
df.yr2010=df.yr2010.str.replace(",", "")

In [15]:
df.dtypes

Crop      object
yr2010    object
yr2011    object
yr2012    object
yr2013    object
yr2014    object
yr2015    object
yr2016    object
yr2017    object
yr2018    object
yr2019    object
yr2020    object
dtype: object

In [16]:
df[['yr2010', 'yr2011', 'yr2012', 'yr2013', 'yr2014', 'yr2015', 'yr2016', 'yr2017', 'yr2018', 'yr2019', 'yr2020']] = df[['yr2010', 'yr2011', 'yr2012', 'yr2013', 'yr2014', 'yr2015', 'yr2016', 'yr2017', 'yr2018', 'yr2019', 'yr2020']].astype(int)

In [17]:
df.dtypes

Crop      object
yr2010     int64
yr2011     int64
yr2012     int64
yr2013     int64
yr2014     int64
yr2015     int64
yr2016     int64
yr2017     int64
yr2018     int64
yr2019     int64
yr2020     int64
dtype: object

## Transposing Data

In [18]:
df.head()

,Crop,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018,yr2019,yr2020
0,Alfalfa,803000,821000,1117000,840000,1104000,1669000,1128000,967000,980000,870000,759000
1,Barley,952,1080,10100,16800,2440,15300,12200,9830,11100,6120,5920
2,Beans,11100,5190,15400,13400,14500,13100,14500,13400,6840,4500,3750
3,Corns,84100,44400,76800,65200,4920,31400,26200,19000,8560,8260,4800
4,Cottons,16373,18615,15327,12671,7903,7076,9993,12345,10276,10668,5770

In [19]:
df2=df.transpose()
df2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
Crop,Alfalfa,Barley,Beans,Corns,Cottons,Wheat,Almonds,Grapes,Grapefruit,Lemons,Nectarines,Oranges,Peaches,Persimmons,Pistachio Nuts,Plums & Pluots,Pomegranates,Tangerines,Walnuts
yr2010,803000,952,11100,84100,16373,171000,28400,537260,16600,55900,111000,791000,100600,6430,29900,71900,12000,111000,69100
yr2011,821000,1080,5190,44400,18615,88100,34700,568970,26700,52300,114000,798000,92600,4040,32600,87700,10300,96900,52000
yr2012,1117000,10100,15400,76800,15327,172000,34800,668860,24000,50700,96600,905000,115600,4230,48000,93500,33300,92900,58400
yr2013,840000,16800,13400,65200,12671,61300,40800,913000,27700,83900,135000,1269000,112300,22100,54900,104000,3540,69000,67900

In [20]:
df2.columns=df['Crop']
df2.head()

Crop,Alfalfa,Barley,Beans,Corns,Cottons,Wheat,Almonds,Grapes,Grapefruit,Lemons,Nectarines,Oranges,Peaches,Persimmons,Pistachio Nuts,Plums & Pluots,Pomegranates,Tangerines,Walnuts
Crop,Alfalfa,Barley,Beans,Corns,Cottons,Wheat,Almonds,Grapes,Grapefruit,Lemons,Nectarines,Oranges,Peaches,Persimmons,Pistachio Nuts,Plums & Pluots,Pomegranates,Tangerines,Walnuts
yr2010,803000,952,11100,84100,16373,171000,28400,537260,16600,55900,111000,791000,100600,6430,29900,71900,12000,111000,69100
yr2011,821000,1080,5190,44400,18615,88100,34700,568970,26700,52300,114000,798000,92600,4040,32600,87700,10300,96900,52000
yr2012,1117000,10100,15400,76800,15327,172000,34800,668860,24000,50700,96600,905000,115600,4230,48000,93500,33300,92900,58400
yr2013,840000,16800,13400,65200,12671,61300,40800,913000,27700,83900,135000,1269000,112300,22100,54900,104000,3540,69000,67900

In [21]:
df2=df2.drop(['Crop'])

In [22]:
df2=df2.reset_index()

In [23]:
df2.dtypes

Crop
index             object
Alfalfa           object
Barley            object
Beans             object
Corns             object
Cottons           object
Wheat             object
Almonds           object
Grapes            object
Grapefruit        object
Lemons            object
Nectarines        object
Oranges           object
Peaches           object
Persimmons        object
Pistachio Nuts    object
Plums & Pluots    object
Pomegranates      object
Tangerines        object
Walnuts           object
dtype: object

In [24]:
df2.head()

Crop,index,Alfalfa,Barley,Beans,Corns,Cottons,Wheat,Almonds,Grapes,Grapefruit,Lemons,Nectarines,Oranges,Peaches,Persimmons,Pistachio Nuts,Plums & Pluots,Pomegranates,Tangerines,Walnuts
0,yr2010,803000,952,11100,84100,16373,171000,28400,537260,16600,55900,111000,791000,100600,6430,29900,71900,12000,111000,69100
1,yr2011,821000,1080,5190,44400,18615,88100,34700,568970,26700,52300,114000,798000,92600,4040,32600,87700,10300,96900,52000
2,yr2012,1117000,10100,15400,76800,15327,172000,34800,668860,24000,50700,96600,905000,115600,4230,48000,93500,33300,92900,58400
3,yr2013,840000,16800,13400,65200,12671,61300,40800,913000,27700,83900,135000,1269000,112300,22100,54900,104000,3540,69000,67900
4,yr2014,1104000,2440,14500,4920,7903,19000,48700,717700,24400,86500,80800,1061000,97800,5690,58100,72100,6160,154000,91500

In [25]:
df2[['Alfalfa','Barley','Beans','Corns','Cottons','Wheat','Almonds','Grapes','Grapefruit','Lemons','Nectarines ','Oranges','Peaches','Persimmons','Pistachio Nuts','Plums & Pluots','Pomegranates','Tangerines','Walnuts']] = df2[['Alfalfa','Barley','Beans','Corns','Cottons','Wheat','Almonds','Grapes','Grapefruit','Lemons','Nectarines ','Oranges','Peaches','Persimmons','Pistachio Nuts','Plums & Pluots','Pomegranates','Tangerines','Walnuts']].astype(int)

In [26]:
df2.dtypes

Crop
index             object
Alfalfa            int64
Barley             int64
Beans              int64
Corns              int64
Cottons            int64
Wheat              int64
Almonds            int64
Grapes             int64
Grapefruit         int64
Lemons             int64
Nectarines         int64
Oranges            int64
Peaches            int64
Persimmons         int64
Pistachio Nuts     int64
Plums & Pluots     int64
Pomegranates       int64
Tangerines         int64
Walnuts            int64
dtype: object

## Changing the wide form of the data to long form in order to visualize it

In [27]:
df3 = df2.melt(id_vars='index', var_name='crop', value_name='amount')
df3

      index     crop   amount
0    yr2010  Alfalfa   803000
1    yr2011  Alfalfa   821000
2    yr2012  Alfalfa  1117000
3    yr2013  Alfalfa   840000
4    yr2014  Alfalfa  1104000
..      ...      ...      ...
204  yr2016  Walnuts    76900
205  yr2017  Walnuts    67400
206  yr2018  Walnuts    98700
207  yr2019  Walnuts    76400
208  yr2020  Walnuts    86100

[209 rows x 3 columns]

In [28]:
alt.Chart(df3, title='What is the most produced crop?').mark_area().encode(
    x='index:N',
    y='amount:Q').facet(facet='crop:N',columns=2)

alt.FacetChart(...)

In [41]:
df3.to_csv("crops.csv", index=False)

## Figuring out the most produced crop of each year

In [29]:
df2.head(20)

Crop,index,Alfalfa,Barley,Beans,Corns,Cottons,Wheat,Almonds,Grapes,Grapefruit,Lemons,Nectarines,Oranges,Peaches,Persimmons,Pistachio Nuts,Plums & Pluots,Pomegranates,Tangerines,Walnuts
0,yr2010,803000,952,11100,84100,16373,171000,28400,537260,16600,55900,111000,791000,100600,6430,29900,71900,12000,111000,69100
1,yr2011,821000,1080,5190,44400,18615,88100,34700,568970,26700,52300,114000,798000,92600,4040,32600,87700,10300,96900,52000
2,yr2012,1117000,10100,15400,76800,15327,172000,34800,668860,24000,50700,96600,905000,115600,4230,48000,93500,33300,92900,58400
3,yr2013,840000,16800,13400,65200,12671,61300,40800,913000,27700,83900,135000,1269000,112300,22100,54900,104000,3540,69000,67900
4,yr2014,1104000,2440,14500,4920,7903,19000,48700,717700,24400,86500,80800,1061000,97800,5690,58100,72100,6160,154000,91500
5,yr2015,1669000,15300,13100,31400,7076,130000,43000,625530,38400,79300,73200,1111000,103500,9730,33100,50300,36400,203000,67500
6,yr2016,1128000,12200,14500,26200,9993,55700,66400,628220,20000,93500,78600,1176000,92300,1340,77800,81900,11200,194000,76900
7,yr2017,967000,9830,13400,19000,12345,47600,68700,692500,34200,102000,80900,1118000,139700,5010,90700,52200,7690,266000,67400
8,yr2018,980000,11100,6840,8560,10276,54300,67300,734550,31400,132000,63000,1107000,176800,7800,88200,76600,14500,339000,98700
9,yr2019,870000,6120,4500,8260,10668,38400,83700,702480,29000,184000,87800,1292000,158500,6800,87200,65900,10400,437000,76400
10,yr2020,759000,5920,3750,4800,5770,38700,97900,513070,28900,199000,62200,1477000,105900,4400,98500,60800,21300,418000,86100

In [30]:
#“axis 0” represents rows and “axis 1” represents columns.
df2.max(axis=1)

/var/folders/dt/gck6vykx0fn5_1ljzst_7tt40000gn/T/ipykernel_42676/2279072898.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.max(axis=1)

0      803000
1      821000
2     1117000
3     1269000
4     1104000
5     1669000
6     1176000
7     1118000
8     1107000
9     1292000
10    1477000
dtype: int64

In [31]:
df2.max(axis=0)

Crop
index              yr2020
Alfalfa           1669000
Barley              16800
Beans               15400
Corns               84100
Cottons             18615
Wheat              172000
Almonds             97900
Grapes             913000
Grapefruit          38400
Lemons             199000
Nectarines         135000
Oranges           1477000
Peaches            176800
Persimmons          22100
Pistachio Nuts      98500
Plums & Pluots     104000
Pomegranates        36400
Tangerines         437000
Walnuts             98700
dtype: object

In [33]:
#axis=0 here means applying the function on the "Alfafa" rows
df2['Alfalfa'].max(axis=0)

1669000

In [34]:
#Adding a column that shows the crop that is associated with the highest production value of each year  
df2['max_crop']=df2[['Alfalfa','Barley','Beans','Corns','Cottons','Wheat','Almonds','Grapes','Grapefruit','Lemons','Nectarines ','Oranges','Peaches','Persimmons','Pistachio Nuts','Plums & Pluots','Pomegranates','Tangerines','Walnuts']].idxmax(axis=1)
df2.head(20)

Crop,index,Alfalfa,Barley,Beans,Corns,Cottons,Wheat,Almonds,Grapes,Grapefruit,Lemons,Nectarines,Oranges,Peaches,Persimmons,Pistachio Nuts,Plums & Pluots,Pomegranates,Tangerines,Walnuts,max_crop
0,yr2010,803000,952,11100,84100,16373,171000,28400,537260,16600,55900,111000,791000,100600,6430,29900,71900,12000,111000,69100,Alfalfa
1,yr2011,821000,1080,5190,44400,18615,88100,34700,568970,26700,52300,114000,798000,92600,4040,32600,87700,10300,96900,52000,Alfalfa
2,yr2012,1117000,10100,15400,76800,15327,172000,34800,668860,24000,50700,96600,905000,115600,4230,48000,93500,33300,92900,58400,Alfalfa
3,yr2013,840000,16800,13400,65200,12671,61300,40800,913000,27700,83900,135000,1269000,112300,22100,54900,104000,3540,69000,67900,Oranges
4,yr2014,1104000,2440,14500,4920,7903,19000,48700,717700,24400,86500,80800,1061000,97800,5690,58100,72100,6160,154000,91500,Alfalfa
5,yr2015,1669000,15300,13100,31400,7076,130000,43000,625530,38400,79300,73200,1111000,103500,9730,33100,50300,36400,203000,67500,Alfalfa
6,yr2016,1128000,12200,14500,26200,9993,55700,66400,628220,20000,93500,78600,1176000,92300,1340,77800,81900,11200,194000,76900,Oranges
7,yr2017,967000,9830,13400,19000,12345,47600,68700,692500,34200,102000,80900,1118000,139700,5010,90700,52200,7690,266000,67400,Oranges
8,yr2018,980000,11100,6840,8560,10276,54300,67300,734550,31400,132000,63000,1107000,176800,7800,88200,76600,14500,339000,98700,Oranges
9,yr2019,870000,6120,4500,8260,10668,38400,83700,702480,29000,184000,87800,1292000,158500,6800,87200,65900,10400,437000,76400,Oranges
10,yr2020,759000,5920,3750,4800,5770,38700,97900,513070,28900,199000,62200,1477000,105900,4400,98500,60800,21300,418000,86100,Oranges

## Figuring out the most productive year of each crop

In [35]:
df.head(20)

,Crop,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018,yr2019,yr2020
0,Alfalfa,803000,821000,1117000,840000,1104000,1669000,1128000,967000,980000,870000,759000
1,Barley,952,1080,10100,16800,2440,15300,12200,9830,11100,6120,5920
2,Beans,11100,5190,15400,13400,14500,13100,14500,13400,6840,4500,3750
3,Corns,84100,44400,76800,65200,4920,31400,26200,19000,8560,8260,4800
4,Cottons,16373,18615,15327,12671,7903,7076,9993,12345,10276,10668,5770
5,Wheat,171000,88100,172000,61300,19000,130000,55700,47600,54300,38400,38700
6,Almonds,28400,34700,34800,40800,48700,43000,66400,68700,67300,83700,97900
7,Grapes,537260,568970,668860,913000,717700,625530,628220,692500,734550,702480,513070
8,Grapefruit,16600,26700,24000,27700,24400,38400,20000,34200,31400,29000,28900
9,Lemons,55900,52300,50700,83900,86500,79300,93500,102000,132000,184000,199000
10,Nectarines,111000,114000,96600,135000,80800,73200,78600,80900,63000,87800,62200
11,Oranges,791000,798000,905000,1269000,1061000,1111000,1176000,1118000,1107000,1292000,1477000
12,Peaches,100600,92600,115600,112300,97800,103500,92300,139700,176800,158500,105900
13,Persimmons,6430,4040,4230,22100,5690,9730,1340,5010,7800,6800,4400
14,Pistachio Nuts,29900,32600,48000,54900,58100,33100,77800,90700,88200,87200,98500
15,Plums & Pluots,71900,87700,93500,104000,72100,50300,81900,52200,76600,65900,60800
16,Pomegranates,12000,10300,33300,3540,6160,36400,11200,7690,14500,10400,21300
17,Tangerines,111000,96900,92900,69000,154000,203000,194000,266000,339000,437000,418000
18,Walnuts,69100,52000,58400,67900,91500,67500,76900,67400,98700,76400,86100

In [36]:
df['max_year']=df.max(axis=1)
df.head()

/var/folders/dt/gck6vykx0fn5_1ljzst_7tt40000gn/T/ipykernel_42676/1720278437.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['max_year']=df.max(axis=1)

,Crop,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018,yr2019,yr2020,max_year
0,Alfalfa,803000,821000,1117000,840000,1104000,1669000,1128000,967000,980000,870000,759000,1669000
1,Barley,952,1080,10100,16800,2440,15300,12200,9830,11100,6120,5920,16800
2,Beans,11100,5190,15400,13400,14500,13100,14500,13400,6840,4500,3750,15400
3,Corns,84100,44400,76800,65200,4920,31400,26200,19000,8560,8260,4800,84100
4,Cottons,16373,18615,15327,12671,7903,7076,9993,12345,10276,10668,5770,18615

In [37]:
df['max_year']=df[['yr2010','yr2011','yr2012','yr2013','yr2014','yr2015','yr2016','yr2017','yr2018','yr2019','yr2020']].idxmax(axis=1)

In [38]:
df.head(20)

,Crop,yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018,yr2019,yr2020,max_year
0,Alfalfa,803000,821000,1117000,840000,1104000,1669000,1128000,967000,980000,870000,759000,yr2015
1,Barley,952,1080,10100,16800,2440,15300,12200,9830,11100,6120,5920,yr2013
2,Beans,11100,5190,15400,13400,14500,13100,14500,13400,6840,4500,3750,yr2012
3,Corns,84100,44400,76800,65200,4920,31400,26200,19000,8560,8260,4800,yr2010
4,Cottons,16373,18615,15327,12671,7903,7076,9993,12345,10276,10668,5770,yr2011
5,Wheat,171000,88100,172000,61300,19000,130000,55700,47600,54300,38400,38700,yr2012
6,Almonds,28400,34700,34800,40800,48700,43000,66400,68700,67300,83700,97900,yr2020
7,Grapes,537260,568970,668860,913000,717700,625530,628220,692500,734550,702480,513070,yr2013
8,Grapefruit,16600,26700,24000,27700,24400,38400,20000,34200,31400,29000,28900,yr2015
9,Lemons,55900,52300,50700,83900,86500,79300,93500,102000,132000,184000,199000,yr2020
10,Nectarines,111000,114000,96600,135000,80800,73200,78600,80900,63000,87800,62200,yr2013
11,Oranges,791000,798000,905000,1269000,1061000,1111000,1176000,1118000,1107000,1292000,1477000,yr2020
12,Peaches,100600,92600,115600,112300,97800,103500,92300,139700,176800,158500,105900,yr2018
13,Persimmons,6430,4040,4230,22100,5690,9730,1340,5010,7800,6800,4400,yr2013
14,Pistachio Nuts,29900,32600,48000,54900,58100,33100,77800,90700,88200,87200,98500,yr2020
15,Plums & Pluots,71900,87700,93500,104000,72100,50300,81900,52200,76600,65900,60800,yr2013
16,Pomegranates,12000,10300,33300,3540,6160,36400,11200,7690,14500,10400,21300,yr2015
17,Tangerines,111000,96900,92900,69000,154000,203000,194000,266000,339000,437000,418000,yr2019
18,Walnuts,69100,52000,58400,67900,91500,67500,76900,67400,98700,76400,86100,yr2018

## Finding out the percentage difference of each crop's production between years

In [ ]:
df2.head(20)

In [39]:
df2['% change Alfalfa']=df2['Alfalfa'].pct_change()*100
df2['% change Barley']=df2['Barley'].pct_change()*100
df2['% change Beans']=df2['Beans'].pct_change()*100
df2['% change Corns']=df2['Corns'].pct_change()*100
df2['% change Cottons']=df2['Cottons'].pct_change()*100
df2['% change Wheat']=df2['Wheat'].pct_change()*100
df2['% change Almonds']=df2['Almonds'].pct_change()*100
df2['% change Grapes']=df2['Grapes'].pct_change()*100
df2['% change Grapefruit']=df2['Grapefruit'].pct_change()*100
df2['% change Lemons']=df2['Lemons'].pct_change()*100
df2['% change Nectarines ']=df2['Nectarines '].pct_change()*100
df2['% change Oranges']=df2['Oranges'].pct_change()*100
df2['% change Peaches']=df2['Peaches'].pct_change()*100
df2['% change Persimmons']=df2['Persimmons'].pct_change()*100
df2['% change Pistachio Nuts']=df2['Pistachio Nuts'].pct_change()*100
df2['% change Plums & Pluots']=df2['Plums & Pluots'].pct_change()*100
df2['% change Pomegranates']=df2['Pomegranates'].pct_change()*100
df2['% change Tangerines']=df2['Tangerines'].pct_change()*100
df2['% change Walnuts']=df2['Walnuts'].pct_change()*100

df2

Crop,index,Alfalfa,Barley,Beans,Corns,Cottons,Wheat,Almonds,Grapes,Grapefruit,Lemons,Nectarines,Oranges,Peaches,Persimmons,Pistachio Nuts,Plums & Pluots,Pomegranates,Tangerines,Walnuts,max_crop,% change Alfalfa,% change Barley,% change Beans,% change Corns,% change Cottons,% change Wheat,% change Almonds,% change Grapes,% change Grapefruit,% change Lemons,% change Nectarines,% change Oranges,% change Peaches,% change Persimmons,% change Pistachio Nuts,% change Plums & Pluots,% change Pomegranates,% change Tangerines,% change Walnuts
0,yr2010,803000,952,11100,84100,16373,171000,28400,537260,16600,55900,111000,791000,100600,6430,29900,71900,12000,111000,69100,Alfalfa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,yr2011,821000,1080,5190,44400,18615,88100,34700,568970,26700,52300,114000,798000,92600,4040,32600,87700,10300,96900,52000,Alfalfa,2.241594,13.445378,-53.243243,-47.205707,13.693276,-48.479532,22.183099,5.902170,60.843373,-6.440072,2.702703,0.884956,-7.952286,-37.169518,9.030100,21.974965,-14.166667,-12.702703,-24.746744
2,yr2012,1117000,10100,15400,76800,15327,172000,34800,668860,24000,50700,96600,905000,115600,4230,48000,93500,33300,92900,58400,Alfalfa,36.053593,835.185185,196.724470,72.972973,-17.663175,95.232690,0.288184,17.556286,-10.112360,-3.059273,-15.263158,13.408521,24.838013,4.702970,47.239264,6.613455,223.300971,-4.127967,12.307692
3,yr2013,840000,16800,13400,65200,12671,61300,40800,913000,27700,83900,135000,1269000,112300,22100,54900,104000,3540,69000,67900,Oranges,-24.798568,66.336634,-12.987013,-15.104167,-17.328897,-64.360465,17.241379,36.500912,15.416667,65.483235,39.751553,40.220994,-2.854671,422.458629,14.375000,11.229947,-89.369369,-25.726588,16.267123
4,yr2014,1104000,2440,14500,4920,7903,19000,48700,717700,24400,86500,80800,1061000,97800,5690,58100,72100,6160,154000,91500,Alfalfa,31.428571,-85.476190,8.208955,-92.453988,-37.629232,-69.004894,19.362745,-21.391019,-11.913357,3.098927,-40.148148,-16.390859,-12.911843,-74.253394,5.828780,-30.673077,74.011299,123.188406,34.756996
5,yr2015,1669000,15300,13100,31400,7076,130000,43000,625530,38400,79300,73200,1111000,103500,9730,33100,50300,36400,203000,67500,Alfalfa,51.177536,527.049180,-9.655172,538.211382,-10.464381,584.210526,-11.704312,-12.842413,57.377049,-8.323699,-9.405941,4.712535,5.828221,71.001757,-43.029260,-30.235784,490.909091,31.818182,-26.229508
6,yr2016,1128000,12200,14500,26200,9993,55700,66400,628220,20000,93500,78600,1176000,92300,1340,77800,81900,11200,194000,76900,Oranges,-32.414620,-20.261438,10.687023,-16.560510,41.223855,-57.153846,54.418605,0.430035,-47.916667,17.906683,7.377049,5.850585,-10.821256,-86.228160,135.045317,62.823062,-69.230769,-4.433498,13.925926
7,yr2017,967000,9830,13400,19000,12345,47600,68700,692500,34200,102000,80900,1118000,139700,5010,90700,52200,7690,266000,67400,Oranges,-14.273050,-19.426230,-7.586207,-27.480916,23.536476,-14.542190,3.463855,10.232084,71.000000,9.090909,2.926209,-4.931973,51.354280,273.880597,16.580977,-36.263736,-31.339286,37.113402,-12.353706
8,yr2018,980000,11100,6840,8560,10276,54300,67300,734550,31400,132000,63000,1107000,176800,7800,88200,76600,14500,339000,98700,Oranges,1.344364,12.919634,-48.955224,-54.947368,-16.759822,14.075630,-2.037846,6.072202,-8.187135,29.411765,-22.126082,-0.983900,26.556908,55.688623,-2.756340,46.743295,88.556567,27.443609,46.439169
9,yr2019,870000,6120,4500,8260,10668,38400,83700,702480,29000,184000,87800,1292000,158500,6800,87200,65900,10400,437000,76400,Oranges,-11.224490,-44.864865,-34.210526,-3.504673,3.814714,-29.281768,24.368499,-4.365938,-7.643312,39.393939,39.365079,16.711834,-10.350679,-12.820513,-1.133787,-13.968668,-28.275862,28.908555,-22.593718
10,yr2020,759000,5920,3750,4800,5770,38700,97900,513070,28900,199000,62200,1477000,105900,4400,98500,60800,21300,418000,86100,Oranges,-12.758621,-3.267974,-16.666667,-41.888620,-45.913011,0.781250,16.965352,-26.963045,-0.344828,8.152174,-29.157175,14.318885,-33.186120,-35.294118,12.958716,-7.738998,104.807692,-4.347826,12.696335